img {
  width: 500px;
  height: auto;
  border-radius: 1%;
}

#space{
  letter-spacing: 10px;
}

#blue{
  
  background-color: blue;
}

#floatLeft {
  float: left;
}

#topPad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbotron p{

  font-weight: 300;
  font-size: 20px;
  
  

 
  }